header  {
  background:black;
  color:white;
}

header h1  {
  color:yellow;
  display:inline;
}

nav ul  {
  font-family:"Comic Sans MS", cursive, sans-serif;
  display:inline;
}

nav ul li  {
  font-family:"Arial", Helvetica, sans-serif;
  list-style-type:none;
  display:inline-block;
  background:brown;
  margin: 5px;
}

nav ul li a  {
  color:green;
}

.row:before  {
  clear:both;
}

.row:after  {
  clear:both;
}

.col  {
  float:left;
  background:#331;
  margin:3%;
  width:21%;
  boarder-radius:6px;
  padding:2%;
}

footer  {
  clear:both;
}
